@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,400,400i,700");

.grid {
  font-family: "Open Sans", sans-serif;
  main {
    min-height: calc(100vh - 50px);
    .game {
      height: 100%;
    }
  }
}
.taskSandbox {
  .sandboxWord {
    .sandboxWordList {
      min-height: 250px;
      height: calc(100vh - 250px);
      overflow: auto;
      ul {
        padding-left: 0;
        li {
          list-style: none;
          margin-bottom: 0.5rem;
        }
      }
      @media (max-width: 1399.98px) {
        height: calc(100vh - 450px);
      }
    }
  }
  .task-response {
    display: flex;
    margin-top: 1rem;
    input {
      flex-basis: 100%;
      font-size: 14px;
    }
    button {
      min-width: 90px;
      margin-left: 0.5rem;
      font-size: 14px;
    }
  }
}
  
.social-interactions {
  .status {
    display: flex;
    flex-shrink: 0;

    padding: 0 0.5rem;
    height: 10rem;
    margin-bottom: 1rem;
    .players {
      padding: 0;
      display: flex;
      //margin-right: 1rem;
      width: 100%;
      // overflow allows for the user to scroll through
      overflow: scroll;

      .player {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 1rem;

        .image {
          position: relative;
          .satisfied {
              // font-size: 0.1rem;
            position: absolute;
            top: -0.6rem;
            right: -0.8rem;
            .bp3-icon-standard {
                font-size: 1.2rem;
            }
          }
        }

        &:first-child {
          .name {
            padding-right: 2rem;
            white-space: nowrap;
          }
          .image {
            padding-right: 2rem;
            border-right: 1px solid lightgrey;

            .satisfied {
              right: 1.2rem;
            }
          }
        }

        img {
          width: 5rem;
          height: 5rem;
        }
      }
    }
    .total-score {
      padding-top: 1.5rem;
      text-align: center;
    }
  }
 .timer {
    text-align: center;
    .seconds {
      font-size: 3rem;
      // Helvetica has tabular numbers (fixed width), which looks better
      // for a timer, doesn't jump all over the place.
      font-family: Helvetica, Arial, sans-serif;
      color: green;
    }
    &.lessThan10 {
      .seconds {
        color: orange;
      }
    }
    &.lessThan5 {
      .seconds {
        color: red;
      }
    }
  }
  .eventlog {
    height: calc(~"35% - 3.5rem");
    padding: 0 2rem;
    margin-bottom: 1rem;

    .events {
      padding: 2rem 0 0;
      overflow: auto;
      height: 100%;
      width: 100%;

      // padding-top: 2rem;

      .event {
        margin: 0 0 1rem;

        .timestamp {
          display: inline-block;
          margin-right: 0.4em;
          // font-weight: 100;
          font-size: 1.2rem;
          color: grey;
        }

        .content {
          display: inline-block;

          & > div {
            display: inline-block;
            font-weight: 800;
          }

          .author {
            font-weight: 700;
            margin: 0 0.3em 0.4em 0;

            img {
              position: relative;
              top: 0.2em;
              width: 1.2em;
              height: 1.2em;
              margin-right: 0.3em;
            }
          }
        }
      }
    }
  }

  .chat {
    min-height: 200px;
    height: calc(100vh - 320px);
    @media (max-width: 1399.98px) {
      height: calc(100vh - 520px);
    }
    position: relative;
    padding-top: 0rem;
    padding-bottom: 4rem;

    .messages {
      overflow: auto;
      height: 100%;
      width: 100%;

      padding-top: 2rem;

      .empty {
        color: grey;
        text-align: center;
        // margin: 3rem 0;
      }

      .message {
        margin: 0 0 1rem;

        .author {
          font-weight: 700;
          margin: 0 0.3em 0 0;
          display: inline-block;

          img {
            position: relative;
            top: 0.2em;
            width: 1.2em;
            height: 1.2em;
            margin-right: 0.3em;
          }
        }
      }
    }

    form {
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 5rem;
      flex-shrink: 0;
      flex-grow: 0;
      padding: 1rem 1rem 0;
    }
  }
}


button {
  padding: 0.8rem 1.2rem;
  border-radius: 0.3rem;
  border: 1px solid lightgray;
  background-color: #eee;

  &:hover {
    background-color: #ddd;
  }
}

.instructions,
.quiz,
.exit-survey {
  button {
    margin: 2rem 1rem 0 0;
  }

  label {
    display: block;
    margin: 2rem 0 1rem;
  }

  input[type="text"],
  input[type="number"] {
    padding: 0.3rem 0.5rem;
    border-radius: 0.3rem;
    border: 1px solid lightgray;
  }

  input[type="radio"] {
    margin-right: 0.5rem;
  }

  textarea {
    padding: 0.3rem 0.5rem;
    border-radius: 0.3rem;
    border: 1px solid lightgray;
  }
}

.exit-survey {
  .form-line {
    display: flex;

    & > div {
      margin-right: 30px;

      textarea {
        min-height: 90px;
        width: 100%;
      }
    }

    &.thirds {
      & > div {
        flex-grow: 0;
        flex-shrink: 0;
        flex-basis: 30%;

        label {
          min-height: 36px;
        }
      }
    }
  }
}

.finished {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}


